.formContainer {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  direction: rtl;
  text-align: right;
    h2 {
    color: #797878;
  }
}

.error {
  color: red;
  font-size: 14px;
}
